/* Main */

body {
	background:url("../images/body-bg.jpg") no-repeat fixed center center/cover transparent;
	color:#333333;
	font-family:'Lato',sans-serif;
	height:100vh;
}

.hv-bold {
	font-weight:600;
}

h1,h2,h3,h4,h5,h6,p {
	margin-bottom:0;
}

.text-hv {
	color:#e46363;
}

.bg-hv {
	background:#e46363;
}

/* End Main */

/* Login */

.login-page {
	height:100vh;
}

.login-card {
	background:rgba(255,255,255,0.9);
}

.login-card .input-group .form-control {
	border:0;
	background:none;
	border-bottom:1px solid #e46363;
	border-radius:0;
	-webkit-box-shadow: none;
	box-shadow:none;
}

/* End Login */